<div class="container" *ngIf="this.loaded; else containerNoLoaded">
  <div *ngIf="films.length; then listFilms else noFilms"></div>
    <ng-template #listFilms>
      <div class="container mx-sm-0">
        <div class="row">
          <div class="col col-lg-4 col-md-6 col-sm-12 mb-4 d-flex align-items-stretch" *ngFor="let film of films | pipeFavorited: favorites">
            <app-films-item class="card-wrapper" [imgPath]="imgPath" (favorited)="addFavorite($event)" (unfavorited)="removeFavorite($event)" [filmItem]="film"></app-films-item>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="btn btn-danger " (click)="loadMore()" [disabled] = "!moreActive">Load more...</button>
          </div>
        </div>
      </div>
    </ng-template>
  
    <ng-template #noFilms>
      <div class="row">
        <div class="col text-center">
          <h2>No films found</h2>
        </div>
      </div>
    </ng-template>
</div>

<ng-template #containerNoLoaded>
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>