<div class="container">
    <div *ngIf="people.length; then listPeople else noPeople"></div>
      <ng-template #listPeople>
        <div class="container mx-sm-0">
          <div class="row">
            <div class="col col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let persone of people">
              <div class="card">
                <img src="{{ imgPath }}{{ persone.profile_path }}" alt="{{ persone.name }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ persone.name }}
                  </h5>
                  <p class="card-text limit-height">{{ persone.overview | slice:0:80}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    
      <ng-template #noPeople>
        <div class="row">
          <div class="col text-center">
            <h2>No people found</h2>
          </div>
        </div>
      </ng-template>
  </div>