<div class="card">
    <img src="{{ imgPath }}{{ filmItem.poster_path }}" alt="{{ filmItem.title }}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">
          <a routerLink="/films/{{ filmItem.id }}" routerLinkActive="active">{{ filmItem.title }}</a>
        </h5>
      <p class="card-text limit-height">{{ filmItem.overview | slice:0:80}}</p>
      <div class="card-footer bg-transparent border-dark" *ngIf="filmItem.favorited; else noFavorited">        
          <button class="btn btn-danger" (click)="removeFavorite(filmItem.id)">remove from favorite</button>
      </div>
      <ng-template #noFavorited>        
        <div class="card-footer bg-transparent border-dark">        
          <button class="btn btn-success" (click)="addFavorite(filmItem.id)">add to favorite</button>
        </div>  
      </ng-template>
    </div>
  </div>